@CHARSET "UTF-8";

.comment {
  width:470px;
  height:70px;
  opacity:0.8;
  font-color:  white;
}
.comment1 {
  width:300px;
  height:70px;
  opacity:0.8;
  font-color:  white;
}

.bejegyzes {
  min-width:650px;
  max-width:1100px;
}

.albejegyzes {
  min-width:300px;
  max-width:1100px;
}

.forum {
  
  height:800px;
  overflow-y: auto;
}

.gomb {
	 background: url("../img/forum/comm.png");
	 cursor:pointer;
     border: none;
}