.Room {
	height: 50px;
	width: 90%;
	position: relative;
	margin: 10px auto;
	padding-top: 5px;
	padding-left: 20px;
	text-align: left;
	border-radius: 20px;
	ackground: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2),
		color-stop(50%, #54a3ee), color-stop(51%, #3690f0),
		color-stop(100%, #1e69de) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%,
		#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#6db3f2',
		endColorstr='#1e69de', GradientType=0 ); /* IE6-9 */
}

.roomName{
	text-align: center;
	color: white;
	font-weight: bolder;
}

.roomPlayerName{
	float: left; 
	margin: 10px; 
	font-size: 14px;
	color: gold;
}

.roomConnect{
	float: right; 
	margin: 10px; 
	margin-right: 20px;
	cursor: pointer;
}